HeaderFilterRegex: 'src/(?!external).*\.hpp'

Checks: >
    *,
    -abseil-*,
    -altera-*,
    -android-*,
    -cert-*,
    -darwin-*,
    -fuchsia-*,
    -linuxkernel-*,
    -llvmlibc-*,
    -mpi-*,
    -objc-*,
    -zircon-*,
    -bugprone-exception-escape,
    -bugprone-narrowing-conversions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-avoid-magic-numbers,
    -google-readability-todo,
    -hicpp-no-array-decay,
    -hicpp-avoid-c-arrays,
    -hicpp-vararg,
    -llvm-header-guard,
    -llvm-include-order,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -readability-magic-numbers,
