[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "submodules/rapidjson"]
	path = submodules/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "submodules/cxxopts"]
	path = submodules/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "submodules/fast_float"]
	path = submodules/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "submodules/simdjson"]
	path = submodules/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "submodules/flatbuffers"]
	path = submodules/flatbuffers
	url = https://github.com/google/flatbuffers.git
